<% include ../partials/header %>

  <div class="jumbotron">
            <h1 class="display-3">Hello home</h1>
           <h3 class="display-3">Miss Natthawarapon T.</h3>
           <h4 class="display-3">Student ID : 5930213012.</h4>
        </div>  


 <% include ../partials/footer %>